
<div id="page">

    <h1>Clarity 3.1.1 Test Page</h1>
    <h2>Alerts</h2>
    
 
    
    <h3>Small Alert</h3>
    <clr-alert [clrAlertSizeSmall]="true">
        <clr-alert-item>
            <span class="alert-text">
                This is a small alert.
            </span>
        </clr-alert-item>
    </clr-alert>
    
    <h3>Regular Alert</h3>
<clr-alert>
    <clr-alert-item>
        <span class="alert-text">
            This is a regular alert.
        </span>
    </clr-alert-item>
</clr-alert>

<h3>Success Alert</h3>
<clr-alert [clrAlertType]="'success'">
    <clr-alert-item>
        <span class="alert-text">
            This alert indicates success.
        </span>
    </clr-alert-item>
</clr-alert>

<h3>Default Info Alert</h3>
<clr-alert>
    <clr-alert-item>
        <span class="alert-text">
            This is a default info alert.
        </span>
    </clr-alert-item>
</clr-alert>

<h3>Alert that cannot be closed</h3>
<clr-alert [clrAlertClosable]="false">
  <clr-alert-item>
      <span class="alert-text">
          This alert cannot be dismissed.
      </span>
  </clr-alert-item>
</clr-alert>

<h3>App Level Alert</h3>
<clr-alert [clrAlertType]="'danger'" [clrAlertAppLevel]="true">
    <clr-alert-item>
        <span class="alert-text">
            This is an app level alert.
        </span>
        <div class="alert-actions">
            <button class="btn alert-action">Fix</button>
        </div>
    </clr-alert-item>
</clr-alert>

<h3>Alerts with pager control</h3>
<clr-alerts>
  <clr-alert [clrAlertType]="'info'" [clrAlertAppLevel]="true">
      <clr-alert-item>
      <span class="alert-text">
          Disk needs optimization
      </span>
      <div class="alert-actions">
          <button class="btn alert-action">Fix</button>
      </div>
  </clr-alert-item>
  </clr-alert>
  <clr-alert [clrAlertType]="'danger'" [clrAlertAppLevel]="true">
      <clr-alert-item>
      <span class="alert-text">
          DNS needs to be flushed
      </span>
      <div class="alert-actions">
          <button class="btn alert-action">Fix</button>
      </div>
  </clr-alert-item>
</clr-alert>
</clr-alerts>

<hr/> 
    

<h2>Dropdown</h2>

<clr-dropdown [clrCloseMenuOnItemClick]="false">
    <button clrDropdownTrigger>
      Open Dropdown
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>
        <label class="dropdown-header" aria-hidden="true">Dropdown header</label>
        <div aria-label="Dropdown header Action 1" clrDropdownItem>Action 1</div>
        <div aria-label="Dropdown header Action 2"  clrDropdownItem>Action 2</div>
        <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
        <div clrDropdownItem>Link 1</div>
        <div clrDropdownItem>Link 2</div>
    </clr-dropdown-menu>
</clr-dropdown>


<hr/> 

<h2>Modal</h2>
<button class="btn btn-primary" (click)="basic = true">Show modal</button>

<clr-modal [(clrModalOpen)]="basic">
    <h3 class="modal-title">I have a nice title</h3>
    <div class="modal-body">
        <p>But not much to say...</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="basic = false">Ok</button>
    </div>
</clr-modal>


<hr/> 


<h2>Stack View</h2>

<h3>Basic Stack View</h3>
<clr-stack-view>
    <clr-stack-header>Angular stack view</clr-stack-header>

    <clr-stack-block [clrStackViewLevel]="1" [clrStackViewSetsize]="3" [clrStackViewPosinset]="1">
        <clr-stack-label>Label 1</clr-stack-label>
        <clr-stack-content>Content 1</clr-stack-content>
    </clr-stack-block>

    <clr-stack-block [clrStackViewLevel]="1" [clrStackViewSetsize]="3" [clrStackViewPosinset]="2">
        <clr-stack-label>Label 2</clr-stack-label>
        <clr-stack-content>Content 2</clr-stack-content>
        <clr-stack-block [clrStackViewLevel]="2" [clrStackViewSetsize]="3" [clrStackViewPosinset]="1">
            <clr-stack-label>Sub-label 1</clr-stack-label>
            <clr-stack-content>Sub-content 1</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2" [clrStackViewSetsize]="3" [clrStackViewPosinset]="2">
            <clr-stack-label>Sub-label 2</clr-stack-label>
            <clr-stack-content>Sub-content 2</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2" [clrStackViewSetsize]="3" [clrStackViewPosinset]="3">
            <clr-stack-label>Sub-label 3</clr-stack-label>
            <clr-stack-content>Sub-content 3</clr-stack-content>
        </clr-stack-block>
    </clr-stack-block>

    <clr-stack-block [clrStackViewLevel]="1" [clrStackViewSetsize]="3" [clrStackViewPosinset]="3">
        <clr-stack-label>Label 3</clr-stack-label>
        <clr-stack-content>Content 3</clr-stack-content>
        <clr-stack-block>
            <clr-stack-label>Sub-label 4</clr-stack-label>
            <clr-stack-content>Sub-content 4</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label>Sub-label 5</clr-stack-label>
            <clr-stack-content>Sub-content 5</clr-stack-content>
        </clr-stack-block>
    </clr-stack-block>
</clr-stack-view>

<h3>Lazy Loading Stack View</h3>

<clr-stack-view>
    <clr-stack-header>
        Lazily loaded children
        <button class="stack-action btn btn-sm btn-link" (click)="resetChildren()" type="button">Reset</button>
    </clr-stack-header>

    <clr-stack-block
        #lazyBlock
        [clrSbExpandable]="true"
        (clrSbExpandedChange)="fetchChildren()"
        [clrStackViewLevel]="1"
        [clrStackViewSetsize]="2"
        [clrStackViewPosinset]="1"
        >
        <clr-stack-label>Label 1</clr-stack-label>
        <clr-stack-content>Content 1</clr-stack-content>

        <clr-stack-block *ngIf="children.length == 0" [clrStackViewLevel]="2" [clrStackViewSetsize]="0" [clrStackViewPosinset]="1">
            <clr-spinner clrAssertive clrInline>
              Loading...
            </clr-spinner>
        </clr-stack-block>

        <clr-stack-block
            *ngFor="let child of children; let i = index"
            [clrStackViewLevel]="2"
            [clrStackViewSetsize]="children.length"
            [clrStackViewPosinset]="i + 1"
            >
            <clr-stack-label>{{child.title}}</clr-stack-label>
            <clr-stack-content>{{child.content}}</clr-stack-content>
        </clr-stack-block>
    </clr-stack-block>

    <clr-stack-block [clrStackViewLevel]="1" [clrStackViewSetsize]="2" [clrStackViewPosinset]="2">
        <clr-stack-label>Label 2</clr-stack-label>
        <clr-stack-content>Content 2</clr-stack-content>
    </clr-stack-block>
</clr-stack-view>


<h3>Stack View Modal Editor</h3>


    <clr-stack-view>
        <clr-stack-header>
            Modal editor
            <button class="stack-action btn btn-sm btn-link" (click)="editModal = true" type="button">Edit</button>
        </clr-stack-header>

        <clr-stack-block
            *ngFor="let block of blocks; let i = index"
            [clrStackViewLevel]="1"
            [clrStackViewSetsize]="blocks.length"
            [clrStackViewPosinset]="i"
            >
            <clr-stack-label>{{block.title}}</clr-stack-label>
            <clr-stack-content>{{block.content}}</clr-stack-content>

            <clr-stack-block
                *ngFor="let child of block.children; let j = index"
                [clrStackViewLevel]="2"
                [clrStackViewSetsize]="block.children.length"
                [clrStackViewPosinset]="j"
                >
                <clr-stack-label>{{child.title}}</clr-stack-label>
                <clr-stack-content>{{child.content}}</clr-stack-content>
            </clr-stack-block>
        </clr-stack-block>
    </clr-stack-view>

    <clr-modal [(clrModalOpen)]="editModal">
        <h3 class="modal-title">Edit mode</h3>
        <div class="modal-body">
            <clr-stack-view>
                <clr-stack-block
                    *ngFor="let block of blocks; let blockIndex = index"
                    [clrSbNotifyChange]="block.content!=='Content '+ (blockIndex)"
                    [clrStackViewLevel]="1"
                    [clrStackViewSetsize]="blocks.length"
                    [clrStackViewPosinset]="blockIndex + 1"
                    >
                    <clr-stack-label>{{block.title}}</clr-stack-label>
                    <clr-stack-content>
                        <input type="text" clrStackInput [(ngModel)]="block.content" />
                    </clr-stack-content>

                    <clr-stack-block
                        *ngFor="let child of block.children; let blockChildIndex = index"
                        [clrSbNotifyChange]="child.content!=='Sub-content '+ (blockChildIndex)"
                        [clrStackViewLevel]="2"
                        [clrStackViewSetsize]="block.children.length"
                        [clrStackViewPosinset]="blockChildIndex + 1"
                        >
                        <clr-stack-label>{{child.title}}</clr-stack-label>
                        <clr-stack-content>
                            <input type="text" clrStackInput [(ngModel)]="child.content" />
                        </clr-stack-content>
                    </clr-stack-block>
                </clr-stack-block>
            </clr-stack-view>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="editModal = false">Done</button>
        </div>
    </clr-modal>
    





<hr/>

<h2>Tabs</h2>
<h3>Simple Tabs</h3>
<clr-tabs>
    <clr-tab>
        <button clrTabLink id="link1">Dashboard</button>
        <clr-tab-content id="content1" *clrIfActive>
            <p>Content for Dashboard tab. Here is a <a href="javascript://">link</a> that can be accessed via
                clicking or through keyboard via tabbing.</p>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Management</button>
        <clr-tab-content *clrIfActive>
            <p>Content for Management tab.</p>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Cloud</button>
        <clr-tab-content *clrIfActive>
            <p>Content for Cloud tab.</p>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

<h3>Vertical Tabs</h3>
<clr-tabs clrLayout="vertical">
    <clr-tab>
        <button clrTabLink id="link1">Dashboard</button>
        <clr-tab-content id="content1" *clrIfActive>
            Content for Dashboard tab. Here is a <a href="javascript://">link</a> that can be accessed via
                clicking or through keyboard via tabbing.
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Management</button>
        <clr-tab-content *clrIfActive>
            Content for Management tab.
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Cloud</button>
        <clr-tab-content *clrIfActive>
            Content for Cloud tab.
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

<h3>Overflow Tabs</h3>
<clr-tabs>
    <clr-tab>
        <button clrTabLink id="link1">Dashboard</button>
        <clr-tab-content id="content1" *clrIfActive>
            <p>Content for Dashboard tab. Here is a <a href="javascript://">link</a> that can be accessed via
                clicking or through keyboard via tabbing.</p>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Management</button>
        <clr-tab-content *clrIfActive>
            <p>Content for Management tab.</p>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink [clrTabLinkInOverflow]="inOverflow">Cloud</button>
        <clr-tab-content *clrIfActive>
            <p>Content for Cloud tab.</p>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink [clrTabLinkInOverflow]="inOverflow">Settings</button>
        <clr-tab-content *clrIfActive>
            <p>Content for Settings tab.</p>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>
<hr/>

<h2>Timeline</h2>
<h3>Horizontal Timeline</h3>
<clr-timeline>
    <clr-timeline-step clrState="not-started">
      <clr-timeline-step-header>11:59 am</clr-timeline-step-header>
      <clr-timeline-step-title>Add KMS</clr-timeline-step-title>
      <clr-timeline-step-description>Root CA certificate requested.</clr-timeline-step-description>
    </clr-timeline-step>
    <clr-timeline-step clrState="current">
      <clr-timeline-step-header>11:59 am</clr-timeline-step-header>
      <clr-timeline-step-title>Add KMS</clr-timeline-step-title>
      <clr-timeline-step-description>
        Root CA certificate requested. Upload it to the KMS to complete the connection.
        <button class="btn btn-sm">Action</button>
      </clr-timeline-step-description>
    </clr-timeline-step>
    <clr-timeline-step class="gemini-ignore" clrState="processing">
      <clr-timeline-step-header>11:59 am</clr-timeline-step-header>
      <clr-timeline-step-title>Make vCenter trust KMS</clr-timeline-step-title>
      <clr-timeline-step-description>
        Root CA certificate requested. Upload it to the KMS to complete the connection. Third sentence is very long
        and very long.
      </clr-timeline-step-description>
    </clr-timeline-step>
    <clr-timeline-step clrState="success">
      <clr-timeline-step-header>11:59 am</clr-timeline-step-header>
      <clr-timeline-step-title>Make KMS trust vCenter</clr-timeline-step-title>
      <clr-timeline-step-description>Upload it to the KMS to complete the connection. Third
        sentence.
        <button class="btn btn-sm btn-link">Action</button>
      </clr-timeline-step-description>
    </clr-timeline-step>
    <clr-timeline-step clrState="error">
      <clr-timeline-step-header>11:59 am</clr-timeline-step-header>
      <clr-timeline-step-title>Connected</clr-timeline-step-title>
      <clr-timeline-step-description>No. It's not connected.</clr-timeline-step-description>
    </clr-timeline-step>
  </clr-timeline>

  <h3>Vertical Timeline</h3>
  <clr-timeline clrLayout="vertical" style="width: 50%">
    <clr-timeline-step clrState="not-started">
      <clr-timeline-step-header>11:59 am</clr-timeline-step-header>
      <clr-timeline-step-title>Add KMS</clr-timeline-step-title>
      <clr-timeline-step-description>Root CA certificate requested.</clr-timeline-step-description>
    </clr-timeline-step>
    <clr-timeline-step clrState="current">
      <clr-timeline-step-header>11:59 am</clr-timeline-step-header>
      <clr-timeline-step-title>Add KMS</clr-timeline-step-title>
      <clr-timeline-step-description>
        Root CA certificate requested. Upload it to the KMS to complete the connection.
        <img src="assets/placeholder_350x150.png" alt="Example of an Image in a Card" />
      </clr-timeline-step-description>
    </clr-timeline-step>
    <clr-timeline-step class="gemini-ignore" clrState="processing">
      <clr-timeline-step-header>11:59 am</clr-timeline-step-header>
      <clr-timeline-step-title>Make vCenter trust KMS</clr-timeline-step-title>
      <clr-timeline-step-description>
        Root CA certificate requested. Upload it to the KMS to complete the connection. Third sentence is very long
        and very long.
      </clr-timeline-step-description>
    </clr-timeline-step>
    <clr-timeline-step clrState="success">
      <clr-timeline-step-header>11:59 am</clr-timeline-step-header>
      <clr-timeline-step-title>Make KMS trust vCenter</clr-timeline-step-title>
      <clr-timeline-step-description>Upload it to the KMS to complete the connection. Third
        sentence.
        <button class="btn btn-sm">Refresh</button>
      </clr-timeline-step-description>
    </clr-timeline-step>
    <clr-timeline-step clrState="error">
      <clr-timeline-step-header></clr-timeline-step-header>
      <clr-timeline-step-title>Connected</clr-timeline-step-title>
      <clr-timeline-step-description>No. It's not connected.</clr-timeline-step-description>
    </clr-timeline-step>
  </clr-timeline>

<hr/>

<h2>Vertical Nav</h2>
<h3>Basic Structure, Icons Links, Collapsable </h3>

<div class="verticalNavWrapper">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
        <a clrVerticalNavLink routerLink="./first" routerLinkActive="active">first</a>
        <a clrVerticalNavLink routerLink="./second" routerLinkActive="active">second</a>
        <a clrVerticalNavLink routerLink="./first" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
            first
        </a>
        <a clrVerticalNavLink routerLink="./second" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
            second
        </a>
    </clr-vertical-nav>
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
</div><!-- end verticalNavWrapper -->







<hr/>

</div><!-- page-->
    